[Desktop Entry]
Version=1.0
Type=Application
Name=Simple Notebook
Comment=Simple Notebook
Exec=/usr/bin/simple-notebook
Icon=/usr/share/simple-notebook/notebook.png
Path=~/
Terminal=false
StartupNotify=false
GenericName=Simple Notebook
